@import '../../../styles';

h2 span {
  font-size: 75%;
  color: lightgray;
}

ul {
  @extend .list-group;
}

ul>li {
  @extend .list-group-item;
}

li {
  cursor: pointer;
}

li.selected {
  @extend .active
}
