<nav>
  <h1>
    Welcome to {{title}}!
  </h1>
</nav>

<aside>
  <h2>Contacts</h2>
  <ul>
    <li
      *ngFor="let contact of contacts"
      (click)="selectContact(contact)"
      [class.selected]="isSelected(contact)">
      {{contact.name}}
    </li>
  </ul>

  <h2>New Contact</h2>
  <form (submit)="addContact()">
    <input
      type="text"
      name="name"
      [(ngModel)]="contactName">
    <button type="submit">
      Add contact {{contactName}}
    </button>
  </form>
</aside>

<main *ngIf="selectedContact">
  <h2>{{selectedContact.name}}</h2>
  <input
  type="text"
  [(ngModel)]="selectedContact.name">
</main>
