<nav>
  <h1>
    Welcome to {{title}}!
  </h1>

  <div id="sign-out">
    {{currentUser?.displayName}}
    <button (click)="signOut()">Sign out</button>
  </div>
</nav>

<aside>
  <contact-list
    title="Favorites"
    [contacts]="starredContacts()">
  </contact-list>

  <contact-list
    title="Contacts"
    [contacts]="otherContacts()">
  </contact-list>

  <h2>New Contact</h2>
  <form (submit)="addContact()">
    <input
      type="text"
      name="name"
      [(ngModel)]="contactEmail"
      placeholder="Email">
    <button type="submit">
      Add contact
    </button>
  </form>
</aside>

<div id="child-outlet">
  <router-outlet></router-outlet>
</div>
