<nav>
  <h1>
    Welcome to {{title}}!
  </h1>

  <button id="sign-out" (click)="signOut()">Sign out</button>
</nav>

<aside>
  <contact-list
    (select)="selectContact($event)">
  </contact-list>

  <h2>New Contact</h2>
  <form (submit)="addContact({id: 'asdsadasd', displayName: contactName})">
    <input
      type="text"
      name="name"
      [(ngModel)]="contactName">
    <button type="submit">
      Add contact {{contactName}}
    </button>
  </form>
</aside>

<contact-detail
  *ngIf="selectedContact"
  [contact]="selectedContact">
</contact-detail>
